     <!-- Sidebar -->
     <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Farmplay <sup></sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

  
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#userManage"
                aria-expanded="true" aria-controls="userManage">
                <i class="fas fa-fw fa-cog"></i>
                <span>회원관리</span>
            </a>
            <div id="userManage" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="../../admin/member/memberList">회원리스트</a>
                    <a class="collapse-item" href="../../admin/member/sendNotice">공지보내기</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#farmManage"
                aria-expanded="true" aria-controls="farmManage">
                <i class="fas fa-fw fa-cog"></i>
                <span>농가관리</span>
            </a>
            <div id="farmManage" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="../../admin/farm/farmAskList">농가승인</a>
                    <a class="collapse-item" href="../../admin/farm/farmList">농가리스트</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#recuritManage"
                aria-expanded="true" aria-controls="recuritManage">
                <i class="fas fa-fw fa-cog"></i>
                <span>모집관리</span>
            </a>
            <div id="recuritManage" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="../../admin/recurit/recuritList">모집리스트</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tourManage"
                aria-expanded="true" aria-controls="tourManage">
                <i class="fas fa-fw fa-cog"></i>
                <span>관광관리</span>
            </a>
            <div id="tourManage" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="../../admin/tour/tourList">관광데이터</a>
                </div>
            </div> 
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#payManage"
                aria-expanded="true" aria-controls="payManage">
                <i class="fas fa-fw fa-cog"></i>
                <span>결재관리</span>
            </a>
            <div id="payManage" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="buttons.html">결재리스트</a>
                </div>
            </div> 
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#appApiManage"
                aria-expanded="true" aria-controls="appApiManage">
                <i class="fas fa-fw fa-cog"></i>
                <span>앱API</span>
            </a>
            <div id="appApiManage" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="../../admin/apiApp/appApiInsert">앱API 등록</a>
                    <a class="collapse-item" href="../../admin/apiApp/appApiList">앱API 리스트</a>
                    <a class="collapse-item" href="../../admin/apiApp/apiInsertt">Insertt</a>
                    <a class="collapse-item" href="../../admin/apiApp/apiInsert">Insert</a>
                    <a class="collapse-item" href="../../admin/farm/farmList">Update</a>
                    <a class="collapse-item" href="../../admin/farm/farmList">Delete</a>
                    <a class="collapse-item" href="../../admin/apiApp/apiSelect">Select</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="../../public/template/img/undraw_rocket.svg" alt="...">
            <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
            <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
            
        </div>

    </ul>
    <!-- End of Sidebar -->