<!DOCTYPE html>
<html>
    <head>
        <title>결제하기</title>
      </head>
      
<body>
<!-- HELLO! -->

<script src="https://js.tosspayments.com/v1"></script>
<script>

// * 테스트용 클라이언트 키로 시작하세요
var clientKey = 'test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq'
var tossPayments = TossPayments(clientKey)
console.log(tossPayments)

const url = new URL(window.location.href);

// URLSearchParams 객체  
const urlParams = url.searchParams;
var pay = urlParams.get('pay');
var price = Number(urlParams.get('price'));
var oId = urlParams.get('oId');
var oName = urlParams.get('oName');
var uName = urlParams.get('uName');


// URLSearchParams.get()
console.log("주소체크");
console.log(urlParams);
console.log(urlParams.get('pay'));
console.log(urlParams.get('price'));
console.log(urlParams.get('oId'));
console.log(urlParams.get('oName'));
console.log(urlParams.get('uName'));

// * 계좌이체 결제창 열기
tossPayments.requestPayment(pay, {
  amount: price,
  orderId: oId,
  orderName: oName,
  customerName: uName,
  successUrl: 'http://192.168.1.24:3000/v1/webView/tossSuccess',
  failUrl: 'http://192.168.1.24:3000/v1/webView/tossFail'
  // successUrl: 'http://joy4.ddns.net:3000/success',
  // failUrl: 'http://joy4.ddns.net:3000/fail'
})
</script>

</body>
</html>

