<div class="apiInfoViewBody">
    <table>
        <tbody>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 이미지</div></td>
                <td><div class="p-3"><input type="text" id="farmImg"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 이름</div></td>
                <td><div class="p-3"><input type="text" id="farmName"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 설립일</div></td>
                <td><div class="p-3"><input type="text" id="farmStartOpen"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 생산품</div></td>
                <td><div class="p-3"><input type="text" id="farmProduce"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 종류</div></td>
                <td><div class="p-3"><input type="text" id="farmType"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 소개</div></td>
                <td><div class="p-3"><input type="text" id="farmerIntro"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 주소</div></td>
                <td><div class="p-3"><input type="text" id="farmAddr"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 상세주소</div></td>
                <td><div class="p-3"><input type="text" id="farmAddrDetail"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 숙소 인터넷 여부</div></td>
                <td><div class="p-3"><input type="text" id="farmRoomInternet"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 숙소 주소</div></td>
                <td><div class="p-3"><input type="text" id="farmRoomSite"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 숙소 정보</div></td>
                <td><div class="p-3"><input type="text" id="farmRoomInfo"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 숙소</div></td>
                <td><div class="p-3"><input type="text" id="farmRoom"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 숙소 남여 공용 여부</div></td>
                <td><div class="p-3"><input type="text" id="farmRoomUnisex"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장 숙소 기타정보</div></td>
                <td><div class="p-3"><input type="text" id="farmRoomEtc"></div></td>
            </tr>
            <tr>
                <td class="col-lg-2"><div class="p-3">농장주 이름</div></td>
                <td><div class="p-3"><input type="text" id="username"></div></td>
            </tr>
        </tbody>
    </table>
    <div class="p-3 apiExplain"><button type="button" id="farmBtn" class="btn btn-primary">전송</button></div>
</div>