
            <div class="apiInfoViewBody">
                <table>
                    <tbody>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">모집 농장 코드</div></td>
                            <td><div class="p-3"><input type="text" id="recuritFarmCode"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">모집 상태</div></td>
                            <td><div class="p-3"><input type="text" id="recuritState"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">모집 유저 아이디</div></td>
                            <td><div class="p-3"><input type="text" id="recuritUserId"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">모집 시작일</div></td>
                            <td><div class="p-3"><input type="text" id="recuritStart"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">모집 마감일</div></td>
                            <td><div class="p-3"><input type="text" id="recuritEnd"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">일 시작일</div></td>
                            <td><div class="p-3"><input type="text" id="recuritJobStart"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">일 종료일</div></td>
                            <td><div class="p-3"><input type="text" id="recuritJobEnd"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">일 종류</div></td>
                            <td><div class="p-3"><input type="text" id="recuritJobKind"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">식사 제공 여부</div></td>
                            <td><div class="p-3"><input type="text" id="recuritMealProvide"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">채식 제공 여부</div></td>
                            <td><div class="p-3"><input type="text" id="recuritMealVeget"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">식사 정보</div></td>
                            <td><div class="p-3"><input type="text" id="recuritMealMemo"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">모침 체크 팜플러</div></td>
                            <td><div class="p-3"><input type="text" id="recuritChkFampler"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">모집 체크 주기</div></td>
                            <td><div class="p-3"><input type="text" id="recuritChkPeriod"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">농장 숙소 기타정보</div></td>
                            <td><div class="p-3"><input type="text" id="recuritChkMinor"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">모집 체크 메모</div></td>
                            <td><div class="p-3"><input type="text" id="recuritChkMinorMemo"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">모집 체크 max</div></td>
                            <td><div class="p-3"><input type="text" id="recuritChkMax"></div></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"><div class="p-3">모집 체크 요약</div></td>
                            <td><div class="p-3"><input type="text" id="recuritChkSummary"></div></td>
                        </tr>
                    </tbody>
                </table>
                <div class="p-3 apiExplain"><button type="button" id="recruitBtn" class="btn btn-primary">전송</button></div>
            </div>

        </div>