<div class="col-lg-3" id="selectView">
    <!-- Circle Buttons -->
    <div class="card shadow mb-4">
        <table id="selectTable">
            <thead>
                <tr>
                    <th><div class="p-3 apiName">api명</div></th>
                <th><div class="p-3 apiExplain">api설명</div></th>
                </tr>

            </thead>
            <tbody>
                <tr class="bg-gray-100 apiLine getApiCls" id="singupApi">
                    <td><div class="p-3 apiName">singup</div></td>
                    <td><div class="p-3 apiExplain">유저등록</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls" id="joinFarm">
                    <td><div class="p-3 apiName">joinFarm</div></td>
                    <td><div class="p-3 apiExplain">농장등록</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls" id="joinRecruit">
                    <td><div class="p-3 apiName">joinRecruit</div></td>
                    <td><div class="p-3 apiExplain">모집등록</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls">
                    <td><div class="p-3 apiName">getFarm</div></td>
                    <td><div class="p-3 apiExplain">농장가져오기</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls">
                    <td><div class="p-3 apiName">getFarm</div></td>
                    <td><div class="p-3 apiExplain">농장가져오기</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls">
                    <td><div class="p-3 apiName">getFarm</div></td>
                    <td><div class="p-3 apiExplain">농장가져오기</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls">
                    <td><div class="p-3 apiName">getFarm</div></td>
                    <td><div class="p-3 apiExplain">농장가져오기</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls">
                    <td><div class="p-3 apiName">getFarm</div></td>
                    <td><div class="p-3 apiExplain">농장가져오기</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls">
                    <td><div class="p-3 apiName">getFarm</div></td>
                    <td><div class="p-3 apiExplain">농장가져오기</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls">
                    <td><div class="p-3 apiName">getFarm</div></td>
                    <td><div class="p-3 apiExplain">농장가져오기</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls">
                    <td><div class="p-3 apiName">getFarm</div></td>
                    <td><div class="p-3 apiExplain">농장가져오기</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls">
                    <td><div class="p-3 apiName">getFarm</div></td>
                    <td><div class="p-3 apiExplain">농장가져오기</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls">
                    <td><div class="p-3 apiName">getFarm</div></td>
                    <td><div class="p-3 apiExplain">농장가져오기</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls">
                    <td><div class="p-3 apiName">getFarm</div></td>
                    <td><div class="p-3 apiExplain">농장가져오기</div></td>
                </tr>
                <tr class="bg-gray-100 apiLine getApiCls">
                    <td><div class="p-3 apiName">getFarm</div></td>
                    <td><div class="p-3 apiExplain">농장가져오기</div></td>
                </tr>
            </tbody> 
        </table>
    </div>

</div>